<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
        <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="body_title">
        <h1> Service Task</h1>
    </div>

    <div>
        <form class="addbut" th:method="GET" th:action="@{/index/tasks/new}" th:object="${task}">
        <input class="inputtask" type="submit" value="Add task"/></form>
    </div>

    <br>
    <h2 class="body_h2">Tasks: </h2>

    <div class="tablediv">
        <table border="1" class="tabletask">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>CompletionTime</th>
                <th>Executors</th>
                <th>Actions</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task:${tasks}">
                <td><a class="linkId" th:href="@{/index/tasks/{id}(id=${task.id})}" th:text="${task.id}"></a></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.completionTime}"></td>
                <td th:text="${task.executors}"></td>
                <td><a class="linkUpdate" th:href="@{/index/tasks/updateTask/{id}(id=${task.id})}" >Update</a></td>
                <td><a class="linkDelete" th:href="@{/index/tasks/delete/{id}(id=${task.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>





    </div>
</body>
</html>